<div class="container">
  <h4>商品詳細</h4>
</div>

<div class="container">
  <div class="row row no-gutters">
    <div class="col-2"></div>
      <div class="col-4">
        <div class="image">
          <% if @item.image.attached? %>
            <%= image_tag @item.image, class: "item-image" %>
          <% else %>
            <%= image_tag 'noimage', class: "item-image" %>
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-2">商品名</td>
              <td class="col-4"><%= @item.name %></td>
            </tr>
            <tr>
              <td class="col-2">商品説明</td>
              <td class="col-4"><%= @item.introduction %></td>
            </tr>
            <tr>
              <td class="col-2">税込価格<br>(税抜価格)</td>
             <td class="col-4"><%= (@item.with_tax_price).to_s(:delimited) %>（<%= (@item.price).to_s(:delimited) %>）円</td>
            </tr>
            <tr>
              <td class="col-2">
                <div class="item_status">販売ステータス</div>
    　    　　　　</td>
    　　　   　　<td class="col-4">
    　           <% if @item.is_active %>
      　           <p class="font-weight-bold text-success">販売中</p>
      　         <% else %>
      　          <p>販売停止中</p>
      　        <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
  </div>
</div>
<br><br>
