

<div class="container">
  <h3>管理者ログイン</h3>
</div>


<%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
<div class="container">
  <div class="row row no-gutters">
    <div class="col-2"></div>
    <div class="col-2"><%= f.label :メールアドレス %></div>
    <div class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %></div>
  </div>
</div>

<div class="container">
  <div class="row row no-gutters">
    <div class="col-2"></div>
    <div class="col-2"><%= f.label :パスワード %></div>
    <div class="col-6"><%= f.password_field :password, autocomplete: "current-password", size: 40 %></div>
  </div>
</div>

<div class="container">
  <div class="row row no-gutters">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-6"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
  </div>
</div>

<%= render "admin/shared/links" %>
<% end %>