<h2>会員一覧</h2>

<% @customers.each do |customer| %>
<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th colspan="5">氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.last_name %><%= customer.first_name %>
        <!--< %= link_to customer.name, admin_customer_path(customer.id) %></td>-->
      <td><%= customer.email %></td>
      <td><%= customer.is_active %></td>
    </tr>
  </tbody>
</table>
<% end %>
