<div class="container">
  <h2>会員一覧</h2>
</div>


<div class="container">
  <table class="table">
    <thead>
      <tr>
      　<th scope="col">会員ID</th>
      　<th scope="col">氏名</th>
      　<th scope="col">メールアドレス</th>
      　<th scope="col">ステータス</th>
    　</tr>
  　</thead>

  　<tbody>
    　<% @customers.each do |customer| %>
    　<tr>
      　<td>
      　   <div class="customer_id">
      　     <%= customer.id %>
      　   </div>
      　</td>
      　<td>
        　<div class="customer_name">
        　   <%= link_to admin_customer_path(customer.id) do %>
          　   <%= customer.last_name %><%= customer.first_name %>
          　<% end %>
        　</div>
　　  　</td>
      　<td>
      　   <div class="customer_email">
      　     <%= customer.email %>
      　   </div>
      　</td>
　      <td>
  　       <% if customer.is_active %>
    　       <p class="font-weight-bold text-success">有効</p>
    　     <% else %>
    　       退会
    　     <% end %>
    　   </td>
    　<% end %>
  　</tbody>
　</table>
　<%= paginate @customers %>
</div>