<div class="container">
  <h4>会員一覧</h4>
</div>


<div class="container">
  <div class="row row no-gutters justify-content-center">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
          　<th class="col-1">会員ID</th>
          　<th class="col-2">氏名</th>
          　<th class="col-3">メールアドレス</th>
          　<th class="col-2">ステータス</th>
        　</tr>
      　</thead>
      　<tbody>
        　<% @customers.each do |customer| %>
        　<tr>
          　<td>
          　   <div class="customer_id">
          　     <%= customer.id %>
          　   </div>
          　</td>
          　<td>
            　<div class="customer_name">
            　   <%= link_to admin_customer_path(customer.id) do %>
              　   <%= customer.last_name %><%= customer.first_name %>
              　<% end %>
            　</div>
    　　    　</td>
          　<td>
          　   <div class="customer_email">
          　     <%= customer.email %>
          　   </div>
          　</td>
    　       <td>
      　       <% if customer.is_active %>
        　       <p class="font-weight-bold text-success">有効</p>
        　     <% else %>
        　       <p>退会</p>
        　     <% end %>
        　   </td>
        　</tr>
        　<% end %>
      　</tbody>
  　   </table>
  　   <div class="d-flex justify-content-center">
　      <%= paginate @customers %>
　   </div>
    </div>
  </div>
</div>