<%= flash[:notice_taikai] %>

<div class="container">
  <h4>新規会員登録</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name) do |f| %>

      <div class="row row no-gutters form-group">
        <%= f.label :名前, class: "col-2" %>
        <%= f.label :"　　　（姓）", class: "col-2" %>
        <%= f.text_field :last_name, autofocus: true, class: "col-3" %>
        <%= f.label :"　　　（名）", class: "col-2" %>
        <%= f.text_field :first_name, autofocus: true, class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :フリガナ, class: "col-2" %>
        <%= f.label :"　　　（セイ）", class: "col-2" %>
        <%= f.text_field :last_name_kana, autofocus: true, class: "col-3" %>
        <%= f.label :"　　　（メイ）", class: "col-2" %>
        <%= f.text_field :first_name_kana, autofocus: true, class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :メールアドレス, class: "col-4" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :"郵便番号（ハイフンなし）", class: "col-4" %>
        <%= f.text_field :postal_code, autofocus: true, class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :住所, class: "col-lg-2" %>
        <div class="col-2"></div>
        <%= f.text_field :address, autofocus: true, class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :"電話番号（ハイフンなし）", class: "col-4" %>
        <%= f.text_field :telephone_number, autofocus: true, class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :"パスワード（6文字以上）" , class: "col-4" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <%= f.label :"パスワード（確認用）", class: "col-4" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3" %>
      </div>

      <div class="row row no-gutters form-group">
        <div class="col-4"></div>
        <div class="col-3">
        <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>

<div class="container">
  <div class="text-left">
    <h4>既に登録済みの方</h4>
    <p class="em2down"><%= render "public/shared/links" %>からログインしてください。</p>
    <%= render "public/shared/error_messages", resource: resource %>
  </div>
</div>