
<div class="container">
  <h4>注文情報確認</h4>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td class="col-3">商品名</td>
            <td class="col-2">単価（税込）</td>
            <td class="col-2">数量</td>
            <td class="col-2">小計</td>
          </tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <% if cart_item.item.image.attached? %>
                <%= image_tag cart_item.item.image, class: "item-image2" %>
              <% else %>
                <%= image_tag 'noimage', class: "item-image2" %>
              <% end %>
　　          <%= cart_item.item.name %>
            </td>
            <td><%= (cart_item.item.with_tax_price).to_s(:delimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= (cart_item.subtotal).to_s(:delimited) %></td>
          </tr>
          <% (sum += cart_item.subtotal).to_s(:delimited) %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-2">送料</td>
            <td class="col-1">
              <% @order.postage = 800 %>
                <%= @order.postage %>
            </td>
          </tr>
          <tr>
            <td class="col-2">商品合計</td>
            <td class="col-1">
              <%= (sum.to_i).to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <td class="col-2">請求金額</td>
            <td class="col-1">
               <% @order.amount_billed = @order.postage + sum.to_i %>
                <%= (@order.amount_billed).to_s(:delimited) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <h5 class="bold">支払方法</h5>
    </div>
    <div class="col-3">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <h5 class="bold">お届け先</h5>
    </div>
    <div class="col-10">
      〒<%= @order.postal_code.to_s.insert(3, "-") %><br>
      <%= @order.address %><br>
      <%= @order.name %>
    </div>
  </div>
</div>


<div class="container">
<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :customer_id %>
  <%= f.hidden_field :postage %>
  <%= f.hidden_field :amount_billed %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :order_status %>
  <div class="text-center">
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
<% end %>
</div>



