
<div class="container">
  <h4>注文情報入力</h4>
</div>

<div class="container">
  <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
    <h5 class="bold"><%= f.label :payment_method, "支払方法" %></h5>
    <div class="radio_button">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%><br>
    </div>
    <h5 class="bold">お届け先</h5>
    <div class="radio_button">
      <%= f.radio_button :address_option, 0, checked: "checked" %><!--↑checked:予めbuttn選択される　-->
      <%= f.label :address, "ご自身の住所" %><br>
      <div class="em1down">
        〒<%= current_customer.postal_code %>
        <%= current_customer.address %>
      </div>
      <div class="em1down">
        <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>
      <br>
      <%= f.radio_button :address_option, 2 %>
      <%= f.label :order_address, "新しいお届け先" %>
    </div>
    <div class="newaddress">
      <div class="row addressadd">
        <div class="col-3">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)　" %>
        </div>
        <%= f.text_field :postal_code, class: "col-3" %><br>
      </div>
      <div class="row addressadd">
        <div class="col-3">
          <%= f.label :address, "住所" %>
        </div>
        <%= f.text_field :address, class: "col-5" %>
      </div>

      <div class="row addressadd">
        <div class="col-3">
          <%= f.label :name, "宛名" %>
        </div>
        <%= f.text_field :name, class: "col-3" %>
      </div>
    </div>

    <div class="text-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>