
<div class="container">
  <h4>注文履歴詳細</h4>
</div>


<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <h5 class="bold">注文情報</h5>
        <tbody>
          <tr>
            <td class="col-2">注文日</td>
            <td class=""><%= @order.created_at.strftime('%Y年%m月%d日') %></td>
          </tr>
          <tr>
            <td class="col-2">配送先</td>
            <td class="col-6">
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
	  			  </td>
          </tr>
          <tr>
            <td class="col-2">支払方法</td>
            <td class="col-6"><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td class="col-2">ステータス</td>
            <td class="col-6"><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-bordered">
        <h5 class="bold">請求情報</h5>
        <% sum = 0 %>
        <% @order_items.each do |order_item| %>
          <% sum += order_item.subtotal %>
        <% end %>
        <tbody>
          <tr>
            <td class="col-2">商品合計</td>
            <td class="col-2"><%= (sum.to_i).to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="col-2">配送料</td>
            <td class="col-2">
              <% @order.postage = 800 %>
              <%= @order.postage %>
	  	  		</td>
          </tr>
          <tr>
            <td class="col-2">ご請求額</td>
            <td class="col-2">
              <% @order.amount_billed = @order.postage + sum.to_i %>
                <%= (@order.amount_billed).to_s(:delimited) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <table class="table table-bordered">
        <h5 class="bold">注文内容</h5>
        <tbody>
          <tr>
            <td class="col-6">商品</td>
            <td class="col-2">単価（税込）</td>
            <td class="col-1">個数</td>
            <td class="col-1">小計</td>
          </tr>
          <% @order_items.each do |order_item| %>
          <tr>
            <td class="col-6"><%= order_item.item.name %></td>
            <td class="col-2"><%= (order_item.purchase_price).to_s(:delimited) %></td>
            <td class="col-1"><%= order_item.amount %></td>
            <td class="col-1"><%= (order_item.subtotal).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


