
<div class="container">
  <div class="row row no-gutters">
    <p>
      <span class="span1">商品一覧</span>
      <span class="span2">（全<%= @item_count %>件）</span>
    </p>
  </div>
</div>


<div class="container">
  <div class="row row no-gutters">
    <% @items.each do |item| %>
    <div class="col-3 px-2 my-2">
      <div class="image">
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "400x300", class: "item-image" %>
        <% else %>
          <%= image_tag 'noimage', size: "400x300", class: "item-image" %>
        <% end %>
      </div>
      <%= link_to item.name, public_item_path(item.id) %><br />
      ￥<%= (item.with_tax_price).to_s(:delimited) %>
    </div>
    <% end %>
  </div>

　<div class="d-flex justify-content-center">
    <%= paginate @items %>
 </div>
</div>